.navbar-dark {
  background-color: #A95107;
  padding: 0px;
}

.jumbotron {
  background-image: url('./images/jumbotron.jpg');
  background-size: cover;
  height: 300px;
  background-position: 0 50%;
  margin-bottom: 0px !important;
  border-radius: 0 !important;
}

  h2, h5 {
  color: white;
}

.footer {
  background-image: linear-gradient(to top, #1d1716,#402a23, #a55233);
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.container {
  text-align: center;
}

.food-menu {
  text-align: center;
  margin-bottom: 20rem;
}

.header {
  text-align: right
}

.navbar-fixed-top {
  top: 0;
  position: fixed;
}